/* styles for main section mobile */

main {
  margin: var(--mm-sides);
}

/* styles for category section mobile */

.category__header {
  display: flex;
  justify-content: space-between;
}

.category__title {
  font-size: var(--fzm-big);
  margin-bottom: var(--mm-big);
}

.category__new {
  font-size: var(--fzm-small);
}

.category__p {
  font-size: var(--fzm-medium);
}

.category__a {
  font-size: var(--fzm-small);
}

.category__card {
  display: flex;
  justify-content: space-between;
  margin-bottom: var(--mm-small);
  background: var(--clr-darker);
  padding: var(--pm-medium) var(--pm-medium);
  border-radius: 1rem;
}

/* styles for expenses section mobile */

.expenses {
  margin-top: var(--mm-big);
}

.expenses__title {
  font-size: var(--fzm-big);
  margin-bottom: var(--mm-big);
  text-align: center;
}

.expenses__periods {
  display: flex;
  margin: 0 auto var(--mm-big) auto;
  width: 40%;
  justify-content: space-between;
}

.expenses__p {
  font-size: var(--fzm-medium);
  padding: var(--pm-small);
  border-radius: 1rem;
}

.expenses__active {
  background: var(--clr-purple);
}

.graphic__wrapper {
  position: relative;
}

.graphic__text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-size: var(--fzm-medium);
  z-index: -48438;
}

.graphic__p {
  margin-bottom: var(--mm-small);
}

/* styles for recents section */

.recents__title {
  font-size: var(--fzm-big);
  text-align: center;
  margin: var(--mm-big);
}

.recents__divider {
  font-size: var(--fzm-medium);
  margin: 0rem var(--mm-small);
}

.recents__item {
  padding: var(--pm-items);
  margin-bottom: var(--mm-small);
  border-radius: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 7rem;
}

.recents__income {
  background-color: var(--clr-green);
}

.recents__outcome {
  background-color: var(--clr-red);
}

.recents__icon {
  margin: var(--mm-icon);
}

/* styles for tablets */

@media (min-width: 768px) {
  /* styles for main section tablets */

  main {
    margin: var(--mt-sides);
  }

  /* Styles for categories section tables */

  .category__title {
    font-size: var(--fzt-big);
    margin-bottom: var(--mt-medium);
  }

  .category__new {
    font-size: var(--fzt-medium);
  }

  .category__p {
    font-size: var(--fzt-medium);
  }

  .category__card {
    font-size: var(--fzt-medium);
    padding: var(--pt-card);
  }

  .category {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0 1.5rem;
  }

  /* styles for expenses section tablets */

  .expenses {
    margin-top: var(--mt-small);
  }

  .expenses__title {
    font-size: var(--fzt-big);
    margin-bottom: var(--mt-big);
  }

  .expenses__periods {
    width: 30%;
  }

  .expenses__p {
    font-size: var(--fzt-medium);
    padding: var(--pt-small);
  }

  .graphic__text {
    font-size: var(--fzt-medium);
  }

  .graphic__p {
    margin-bottom: var(--mt-small);
  }

  /* styles for recents section tablets */

  .recents__title {
    font-size: var(--fzt-big);
    margin: var(--mt-big);
  }

  .recents__divider {
    font-size: var(--fzt-medium);
    margin: 0rem var(--mt-small);
  }

  .recents__item {
    padding: var(--pt-items);
    margin-bottom: var(--mt-small);
    min-height: 9rem;
  }

  .recents__icon {
    margin: var(--mt-icon);
  }
}

/* styles for desktop */

@media (min-width: 1190px) {
  /* styles for main section desktop */

  main {
    margin-left: 30rem;
    margin-right: 40rem;
    margin-top: 10rem;
  }

  /* Styles for categories section table */

  .category__title {
    font-size: var(--fzd-big);
  }

  .category__new {
    font-size: var(--fzd-medium);
  }

  .category__p {
    font-size: var(--fzd-medium);
  }

  .category__card {
    font-size: var(--fzm-medium);
  }

  /* styles for expenses section desktop */

  .expenses__recents-wrapper {
    width: 35rem;
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    border-left: var(--clr-darker) solid 2px;
  }

  .expenses {
    margin: 10rem 3rem 0 3rem;
  }

  .expenses__title {
    font-size: var(--fzd-big);
  }

  .expenses__periods {
    width: 50%;
  }

  .expenses__p {
    font-size: var(--fzt-small);
  }

  .graphic__text {
    font-size: var(--fzm-small);
  }

  .graphic__p {
    margin-bottom: 1.5rem;
  }

  /* styles for recents section desktop */

  .recents__title {
    font-size: var(--fzd-big);
  }

  .recents__divider {
    font-size: var(--fzm-medium);
  }

  .recents__item {
    min-height: 7rem;
  }
}

/* styles for bigger screens */

@media (min-width: 1600px) {
  /* make body grid to center everything */

  body {
    display: grid;
    justify-content: center;
  }

  /* reassigning styles to adjust elements */

  main {
    margin-right: 0;
    width: 70%;
  }

  .expenses__recents-wrapper {
    position: relative;
    width: auto;
    border-left: none;
  }

  .new__transaction-wrapper {
    top: 5rem;
    left: -1.5rem;
  }
}
