@import url(https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap);

:root {
  /* variables for colors */

  --clr-bg: #ffffff;
  --clr-blue: #679cc8;
  --clr-aqua: #5ae2c3;
  --clr-green: #63f17a;
  --clr-darker: #f9f9f9;
  --clr-red: #fc6e56;
  --clr-purple: #e4c9ff;
  --clr-black: #000000;
  --clr-bg: #ffffff;

  /* variables for font family */

  --ff-lato: Lato, sans-serif;
  --ff-sans: Open Sans, sans-serif;

  /* variables for font weight */

  --weight-bold: 700;
  --weight-medium: 500;
}

/* Dark theme */

[data-theme=dark] {
  --clr-bg: #221f2d;
  --clr-blue: #679cc8;
  --clr-aqua: #5ae2c3;
  --clr-green: #63f17a;
  --clr-darker: #221f2d;
  --clr-red: #fc6e56;
  --clr-purple: #e4c9ff;
}

body {
  background: var(--clr-bg);
  font-family: 'Lato', sans-serif;
}

.hidden {
  display: none;
}

.nav__btn-open{
  font-size: 3rem;
  position: absolute;
  left: 3rem;
  top: 2.2rem;
}

.nav__btn-close{
  font-size: 5rem;
  position: absolute;
  right: 3rem;
  top: 1.2rem;
}

.nav{
  padding: 3rem;
  height: 100vh;
  background: var(--clr-darker);
}

.nav__logo{
  font-size: 3rem;
}

.nav__divider {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.nav__ul-u {

}

.nav__ul-d {
  
}

.nav__li{

}

.nav__a{

}

.nav__icon{

}
