/* General styles for body */

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Styles for nav mobile */

.nav__logo {
  position: absolute;
  left: 3rem;
  top: 3rem;
}

.dark_light {
  position: absolute;
  right: 3rem;
  top: 3rem;
  font-size: var(--fzm-small);
}

.dark_light-icon {
  margin-bottom: -0.3rem;
  margin: 0 0.5rem -0.3rem 0;
}

/* Styles for form mobile */

.logsignup {
  text-align: center;
  min-width: 90%;
}

.logsignup * {
  margin-bottom: 2rem;
  font-size: var(--fzm-small);
}

.logsignup_title {
  font-size: var(--fzm-big);
  margin-bottom: 5rem;
}

.logsignup__form {
  text-align: center;
}

.logsignup__input {
  background: var(--clr-darker);
  padding: var(--pm-small);
  border-radius: 1rem;
  margin: 0 auto 2rem auto;
  width: 70%;
}

.logsignup_message {
  background: var(--clr-red);
  padding: var(--pm-small);
  border-radius: 1rem;
  margin: 0 auto 2rem auto;
  max-width: 70%;
}

.logsignup__button {
  width: 70%;
  background: var(--clr-purple);
  margin: 0 auto 0 auto;
  padding: var(--pm-small);
  border-radius: 1rem;
}

.logsignup__or {
  text-decoration: underline;
  margin-top: 5rem;
}

/* Styles for tablets */

@media (min-width: 768px) {

  /* Styles for nav mobile */

  .dark_light {
    right: 8rem;
    top: 6rem;
    font-size: var(--fzt-small);
  }

  /* Styles for form mobile */

  .logsignup {
    min-width: 60%;
  }

  .logsignup * {
    font-size: var(--fzt-small);
  }

  .logsignup_title {
    font-size: var(--fzt-big);
  }

  .logsignup__input {
    padding: var(--pt-small);
  }

  .logsignup_message {
    padding: var(--pt-small);
    line-height: 1.1;
  }

  .logsignup__button {
    padding: var(--pt-small);
  }
}

/* Styles for desktop */

@media (min-width: 1190px) {

  /* Styles for nav mobile */
  .dark_light {
    right: 5rem;
    top: 3rem;
  }

  /* Styles for form mobile */

  .logsignup {
    min-width: 35%;
  }

  .logsignup * {
    font-size: var(--fzd-medium);
  }

  .logsignup_title {
    font-size: var(--fzt-big);
  }
}
