@import url(https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap);

:root {
  /* variables for colors */

  --clr-bg: #f3f3f3;
  --clr-blue: #679cc8;
  --clr-aqua: #5ae2c3;
  --clr-green: #63f17a;
  --clr-darker: #e6e6e6;
  --clr-red: #fc6e56;
  --clr-purple: #e4c9ff;
  --clr-black: #000000;
  --clr-text: #000000;

  /* variables for font family */

  --ff-lato: Lato, sans-serif;
  --ff-sans: Open Sans, sans-serif;

  /* variables for font weight */

  --weight-bold: 700;
  --weight-medium: 500;

  /* mobile variables */

  --fzm-big: 3rem;
  --fzm-medium: 2rem;
  --fzm-small: 1.5rem;

  --pm-big: 4rem;
  --pm-medium: 2rem;
  --pm-small: 1rem;
  --pm-items: 1rem 1.5rem;
  --pm-card: 2rem 3rem;

  --mm-big: 4rem;
  --mm-medium: 3rem;
  --mm-small: 2rem;
  --mm-icon: 0rem 1rem -0.3rem 0;
  --mm-sides: 0 5rem;

  /* tablet variables */

  --fzt-big: 4rem;
  --fzt-medium: 2.7rem;
  --fzt-small: 2rem;

  --pt-big: 4rem;
  --pt-medium: 2rem;
  --pt-small: 1.5rem;
  --pt-items: 1.5rem 2rem;
  --pt-card: 2rem 3rem;

  --mt-big: 6rem;
  --mt-medium: 4rem;
  --mt-small: 2.7rem;
  --mt-icon: 0rem 1rem -0.3rem 0;
  --mt-sides: 0 8rem;

  /* desktop variables */

  --fzd-big: 2.3rem;
  --fzd-medium: 1.7rem;
  --fzd-small: 1.4rem;
}

/* Dark theme */

[data-theme="dark"] {
  --clr-bg: #2e2b3e;
  --clr-blue: #679cc8;
  --clr-aqua: #49b69c;
  --clr-green: #4eaf5e;
  --clr-darker: #221f2d;
  --clr-red: #fc6e56;
  --clr-purple: #c0a9d6;
  --clr-text: #f0f0f0;
}

/* changing colors of selection depending on color scheme */

::selection {
  background-color: var(--clr-text);
  color: var(--clr-darker);
}

/* defalut settings for the body of the site */

body {
  background: var(--clr-bg);
  color: var(--clr-text);
  font-family: "Lato", sans-serif;
  font-weight: 500;
}

::placeholder {
  color: var(--clr-text);
}

/* styles for header/nav mobile */

header {
  height: 10rem;
}

.nav__btn-open {
  font-size: var(--fzm-big);
  position: absolute;
  left: 3rem;
  top: 3rem;
}

.nav__btn-close {
  font-size: 5rem;
  position: absolute;
  right: 3rem;
  top: 2.4rem;
}

.nav {
  position: fixed;
  transform: translateX(-1200px);
  width: 100%;
  padding: 4rem 3rem 3rem 3rem;
  height: 100%;
  background: var(--clr-darker);
  transition: all 1s ease-in-out;
  z-index: 10000;
}

.menu__active {
  transform: translateX(0);
}

.nav__logo {
  font-size: 4rem;
}

.nav__divider {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.nav__ul {
  margin: var(--mm-big) auto var(--mm-big) auto;
  font-size: var(--fzm-medium);
  text-align: left;
}

.nav__li {
  margin-top: var(--mm-small);
}

.nav__a {
  padding: 1.5rem;
  border-radius: 1rem;
}

.nav__a-active {
  background: var(--clr-purple);
  color: var(--clr-black);
}

.nav__icon {
  margin: var(--mm-icon);
}

.new__transaction-wrapper {
  /* z-index: -10; */
  position: absolute;
  right: 3rem;
  top: 3rem;
  font-size: var(--fzm-medium);
}

.new__transaction {
  font-size: 2.5rem;
  margin: 0 0 -0.5rem 1rem;
}

/* styles for footer section mobile */

.footer {
  margin-top: var(--mm-big);
  text-align: center;
  min-height: 5rem;
}

.footer__p {
  font-size: var(--fzm-medium);
}

.footer__heart {
  font-size: var(--fzm-medium);
  color: var(--clr-red);
}

@media (min-width: 768px) {
  /* styles for header/nav tablets */

  header {
    height: 13rem;
  }

  .nav__btn-open {
    font-size: var(--fzt-big);
    left: 5rem;
  }

  .nav__btn-close {
    font-size: 7rem;
    right: 1.6rem;
    top: 1.5rem;
  }

  .nav__logo {
    font-size: 5rem;
  }

  .nav__ul {
    margin: var(--mt-big) auto var(--mt-big) auto;
    font-size: var(--fzt-medium);
  }

  .nav__a {
    padding: 2.5rem;
  }

  .new__transaction-wrapper {
    right: 5rem;
    font-size: var(--fzt-medium);
  }

  .new__transaction {
    font-size: 3rem;
    margin: 0 0 -0.5rem 2rem;
  }

  
  /* styles for footer section tablets */

  .footer {
    margin-top: var(--mt-big);
    min-height: 6rem;
  }

  .footer__p {
    font-size: var(--fzt-medium);
  }

  .footer__heart {
    font-size: var(--fzt-medium);
  }
}

@media (min-width: 1190px) {
  /* styles for header/nav section desktop */

  header {
    height: 0;
  }

  .nav__btn-open {
    display: none;
  }

  .nav__btn-close {
    display: none;
  }

  .nav {
    transform: translateX(0);
    width: 25rem;
    padding: 4rem 3rem 0rem 3rem;
    transition: none;
    top: 0;
  }

  .nav__logo {
    font-size: 4rem;
  }

  .nav__divider {
    height: 97%;
  }

  .nav__ul {
    margin: 4rem auto 1rem auto;
    font-size: var(--fzd-medium);
  }

  .nav__a {
    padding: 1.5rem;
  }

  .nav__a:hover {
    background: var(--clr-purple);
    border-radius: 1rem;
    color: var(--clr-black);
    transition: all 0.3s ease-in-out;
  }

  .new__transaction-phone {
    display: none;
  }

  .new__transaction-desktop {
    position: absolute;
    top: 3rem;
    right: 3.4rem;
    z-index: 342534;
  }

  .new__transaction {
    font-size: var(--fzt-medium);
  }

  
  /* styles for footer section desktop */

  .footer {
    /* margin-top: var(--mm-big); */
    margin-top: 16rem;
    text-align: center;
    min-height: 5rem;
  }

  .footer__p {
    font-size: var(--fzd-medium);
  }

  .footer__heart {
    font-size: var(--fzm-medium);
    color: var(--clr-red);
  }
}