/* Styles for main section mobile */

main {
  margin: var(--mm-sides);
}

/* Styles for transaction item mobile */

.transaction__item {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-bottom: var(--mm-small);
  background: var(--clr-darker);
  padding: var(--pm-medium) var(--pm-medium);
  border-radius: 1rem;
}

.transaction__top {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.transaction__category {
  flex: 0 0 60%;
}

.transaction__amount {
text-align: right;
}

.transaction__description {
  margin: 1rem 0 2rem 0;
  line-height: 1;
}

.transaction__date {
  margin-bottom: 2rem;
}

.transaction__wallet {
  display: flex;
  justify-content: space-between;
}

#income_or_expense {
  text-align: right;
}

.new__transaction-wrapper {
  display: none;
}

option {
  background: var(--clr-bg);
  color: var(--clr-text);
}

.form__input {
  font-size: var(--fzm-medium);
  width: 100%;
  padding: 1rem;
}

.label__date {
  text-indent: 1rem;
  font-size: 1.3rem;
}

.form__input:focus {
  outline: none;
}

.form__wrapper {
  margin-bottom: 3rem;
}

.form__select {
  font-size: var(--fzm-medium);
  width: 100%;
  padding: 1rem;
}

.form__select:focus {
  outline: none;
}

/* Styles for form buttons mobile */

.form__button {
  margin-top: var(--mm-small);
  font-size: var(--fzm-medium);
  background: var(--clr-purple);
  padding: 1.5rem 0;
  border-radius: 1rem;
  width: 100%;
}

.form__button-delete {
  background: var(--clr-red);
}

/* styles for tablets */

@media (min-width: 768px) {
  /* styles for main section tablets */

  main {
    margin: var(--mt-sides);
  }

  /* Styles for form tablets */

  .form {
    display: block;
    text-align: center;
  }

  form {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  .form__input {
    width: 100%;
    font-size: var(--fzt-medium);
  }

  .form__select {
    width: 100%;
    font-size: var(--fzt-medium);
  }

  .label__date {
    text-align: left;
    text-indent: 1rem;
    font-size: 2rem;
  }

  /* Styles for form buttons tablets */

  .form__button {
    font-size: var(--fzt-medium);
    margin: 4rem auto 0 auto;
    padding: var(--pt-small) var(--pt-big);
    border-radius: 1rem;
  }
}

/* styles for desktop tablets */

@media (min-width: 1190px) {
  /* styles for main section desktop */

  main {
    margin-left: 60rem;
    margin-right: 40rem;
    margin-top: 10rem;
  }

  /* Styles for form desktop */

  .form {
    display: block;
    text-align: center;
  }

  form {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  .label__date {
    display: none;
  }

  .form__input {
    font-size: var(--fzd-medium);
  }

  .form__select {
    font-size: var(--fzd-medium);
  }

  /* Styles for form buttons desktop */

  .form__button {
    font-size: var(--fzt-medium);
    margin: 4rem auto 0 auto;
    padding: var(--pm-small) var(--pt-big);
    border-radius: 1rem;
  }
}

/* styles for bigger screens */

@media (min-width: 1600px) {
  /* make body grid to center everything */

  body {
    display: grid;
    justify-content: center;
  }
}