/* styles for category section mobile */

.category__p {
  font-size: var(--fzm-medium);
}

.category__a {
  font-size: var(--fzm-small);
}

.category__card {
  background: var(--clr-darker);
  padding: var(--pm-small) var(--pm-medium);
  border-radius: 1rem;
}

/* styles for main section mobile */
  
  main {
  margin: var(--mm-sides);
}

/* styles for select options mobile */

option {
  background: var(--clr-bg);
  color: var(--clr-text);
}

/* Styles for form input mobile */

.form__input {
  font-size: var(--fzm-medium);
  padding: 1rem;
}

.form__input:focus {
  outline: none;
}

.form__wrapper {
  margin-bottom: 3rem;
}

/* Styles for form select mobile */

.form__select {
  font-size: var(--fzm-medium);
  width: 80%;
  padding: 1rem;
}

.form__select:focus {
  outline: none;
}

/* Styles for form buttons mobile */

.form__button {
  margin-top: var(--mm-small);
  font-size: var(--fzm-medium);
  background: var(--clr-purple);
  padding: 1.5rem 0;
  border-radius: 1rem;
  width: 100%;
}

.form__button-delete {
  background: var(--clr-red);
}

/* styles for tablets */

@media (min-width: 768px) {
  /* styles for main section tablets */

  main {
    margin: var(--mt-sides);
  }

  /* Styles for form  mobile */

  .form {
    display: block;
    text-align: center;
  }

  form {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  /* Styles for form input mobile */

  .form__input {
    width: 100%;
    font-size: var(--fzt-medium);
  }

  /* Styles for form select mobile */

  .form__select {
    width: 100%;
    font-size: var(--fzt-medium);
  }

  /* Styles for form buttons mobile */

  .form__button {
    font-size: var(--fzt-medium);
    margin: 4rem auto 0 auto;
    padding: var(--pt-small) var(--pt-big);
    border-radius: 1rem;
  }
}

/* styles for desktop tablets */

@media (min-width: 1190px) {
  /* styles for main section desktop */

  main {
    margin-left: 60rem;
    margin-right: 40rem;
    margin-top: 10rem;
  }

/* Styles for forms mobile */

  .form {
    display: block;
    text-align: center;
  }

  form {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  /* Styles for form input mobile */

  .form__input {
    font-size: var(--fzd-medium);
  }

  /* Styles for form select mobile */

  .form__select {
    font-size: var(--fzd-medium);
  }

  /* Styles for form buttons mobile */

  .form__button {
    font-size: var(--fzt-medium);
    margin: 4rem auto 0 auto;
    padding: var(--pm-small) var(--pt-big);
    border-radius: 1rem;
  }
}

/* styles for bigger screens */

@media (min-width: 1600px) {
  /* make body grid to center everything */

  body {
    display: grid;
    justify-content: center;
  }
}
